{% extends 'base.html' %}

{% block content %}

<h1>About State Spaces</h1>

<p>State Spaces is a coworking space and venue provider based in Metro City. Their offerings range from study areas and office spaces to meeting rooms and conference halls. A system implementation of the business is designed alongside a working prototype of the venue information view.</p>
<hr>

<h2>System Overview</h2>
<p>State Spaces is a coworking space and venue provider based in Metro City. Their offerings range from study areas and office spaces to meeting rooms and conference halls. A system implementation of the business is designed alongside a working prototype of the venue information view.</p>

<h3>Buildings</h3>
<p>Buildings recorded into the database must contain at least one venue and corresponding agent. Each building has a unique identifier, name, address, and city.</p>

<h3>Agents & Teams</h3>
<p>Agents are responsible for one or more venues, but only within the same building. Each agent has a unique identifier and name. Teams are dependent on an agent, and they serve a particular job in assisting with venues.</p>

<h3>Venues & Renovations</h3>
<p>Venues have a unique identifier, name, capacity, type, floor, floor area in sqm, and under_renovation boolean attribute reflective of the venue’s status.</p>
<p></p>

<h3>Amenities</h3>
<p>Amenities represent items or furnishings of a particular make and model. It is characterized by its unique identifier, type, and description. These are used by venues, and the quantity of a certain amenity for a particular venue is recorded.</p>

<h3>Customers & Reservations</h3>
<p>Customers are characterized by their unique identifier, name, birthdate, and location. Reservations made by customers have a unique identifier, participant quantity, start and end timestamps. </p>

<h3>Reservation Rules</h3>
<p>Customers can reserve one or more venues under the following conditions:</p>
<ul>
    <li>Participant quantity does not exceed the venue capacity</li>
    <li>No overlapping time periods</li>
    <li>Venue is not under renovation</li>
</ul>

<p>Pencil bookings are not permitted, and cancelled or rescheduled reservations are reflected in the system.</p>

<h3>Agent Responsibilities</h3>
<p>It is assumed that customers correctly deal with the agent corresponding to their targeted venue, and this agent enforces restrictions and handles the necessary arrangements for customer reservations (i.e. quotation, reservation confirmation, etc.).</p>

{% endblock %}