{% extends 'base.html' %}

{% block content %}

<h1>Reservation List <span class="subtitle"></span></h1>

<div class="venue-container">
    {% for r in reservations %}
        <div class="venue-card">
            
            <h2>Guest: {{ r.customer_id.customer_name }}</h2>
            <p><strong>Venue:</strong> {{ r.venue_id.venue_name }}</p>
            <p><strong>Building:</strong> {{ r.venue_id.building_id.name }}</p>

            <p><strong>Schedule:</strong><br>
                {{ r.start_date_time }}<br>
                <span style="opacity: 0.7;">to</span><br>
                {{ r.end_date_time }}
            </p>

        </div>
    {% empty %}
        <p>No reservations found.</p>
    {% endfor %}
</div>

{% endblock %}
