{% extends 'base.html' %}

{% block content %}

<h1>Reservation List (Haven't Implemented Normalized Tables Yet)</h1>
    <div>
        <ul>
            {% for reservation in reservations %}
                <li>
                    <strong>Guest: {{ reservation.customer.customer_name }}</strong>
                    <ul>
                        <li>Agent: {{ reservation.agent.name }}</li>
                        <li>Venue: {{ reservation.venue.name }}</li>
                        <li>Building: {{ reservation.venue.building.name }}</li>
                        <li>Date: {{ reservation.start_datetime }} - {{ reservation.end_datetime }}</li>
                    </ul>
                </li>
            {% empty %}
                <li>No reservations found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}