{% extends 'base.html' %}

{% block content %}

<h1>Venue List <span class="subtitle"></span></h1>



<form method="GET" class="filter-form">

    <label for="building">Filter by Buildings:</label>
        <select name="building" id="building" onchange="this.form.submit()">
            <option value="">All Buildings</option>
            {% for b in buildings %}
                <option value="{{ b.building_id }}" {% if selected_building == b.building_id %}selected{% endif %}>
                    {{ b.building_name }}
                </option>

            {% endfor %}
        </select>   

    <label for="capacity">Minimum Capacity:</label>
        <input type="number" name="capacity" id="capacity"
            value="{{ selected_capacity }}" min="1"
            onchange="this.form.submit()">

    <label for="type">Filter by Type:</label>
        <select name="type" id="type" onchange="this.form.submit()">
            <option value="">All Types</option>
            {% for t in venue_types %}
                <option value="{{ t }}" 
                    {% if t == selected_type %}selected{% endif %}>
                    {{ t }}
                </option>
            {% endfor %}
        </select>

</form>



<div class="venue-container">
    {% for v in venues %}
        <div class="venue-card">
            <h2>{{ v.venue_name }}</h2>
            <p><strong>ID:</strong> {{ v.venue_id }}</p>
            <p><strong>Building:</strong> {{ v.building_id.building_name }}</p>
            <p><strong>Location:</strong> {{ v.building_id.address }}, {{ v.building_id.city }}</p>
            <p><strong>Type:</strong> {{ v.type }}</p>
            <p><strong>Capacity:</strong> {{ v.capacity }}</p>
            <p><strong>Floor:</strong> {{ v.floor }}</p>

            <p><strong>Amenities:</strong></p>
            <ul>
                {% for va in v.venueamenity_set.all %}
                    <li>({{ va.count }}) {{ va.amenity_id.type }} — {{ va.amenity_id.description }}</li>
                {% empty %}
                    <li>No amenities listed.</li>
                {% endfor %}
            </ul>

            <p><strong>Renovation Status:</strong>
                {% if v.under_renovation %}
                    <br><span class="renovation-badge bad">Under Renovation</span>
                {% else %}
                    <br><span class="renovation-badge good">Available</span>
                {% endif %}
            </p>
        </div>
    {% empty %}
        <p>No venues available.</p>
    {% endfor %}
</div>

{% endblock %}
