body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #d8c9c1;
    margin: 0;
    padding: 0;
    color: #342923;
}

h1 {
    color: #d4cfcc;
    background-color: #7a4b39;
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid #645840;
}

nav {
    background-color: #645840;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #d4cfcc;
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover {
    background-color: #7f5a4c;
    color: #d4cfcc;
}

#content {
    max-width: 900px;
    margin: 40px auto;
    background-color: #d4cfcc;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    color: #342923;
}
